/* Global reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

/* Global reset end */

:root {
  --main-orange: #f16718;
  --secondary-orange: #ff9b62;
  --blue-1: #162542;
  --blue-2: #7b8bad;
  --white-1: #e8eff2;
  --white-2: #ffffff;
}
html {
  font-size: 10px;
}
body {
  font-family: "Barlow", sans-serif;
}

header {
  display: flex;
  max-width: 1110px;
  margin: 64px auto;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 40px;
}
.order_button button {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 16px 26px;
  background-color: var(--white-1);
  border: none;
  border-radius: 8px;
  transition: 500ms;
}
.order_button button:hover {
  background-color: var(--blue-1);
  transition: 500ms;
  color: var(--white-2);
}
.hero_container {
  position: relative;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1110px;
  margin: 0 auto;
}
.hero_text {
  max-width: 450px;
}
.hero_text h1 {
  font-size: 5.6rem;
  color: var(--blue-1);
  font-weight: bold;
  text-transform: uppercase;
}
.hero_text p {
  color: var(--blue-2);
  font-size: 1.8rem;
  margin-top: 24px;
}
.hero_img img {
  width: 540px;
  height: 480px;
}
.hero_text_buttons {
  margin-top: 40px;
}
.hero_text_buttons button {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 16px 26px;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
}
.order {
  background-color: var(--main-orange);
  color: var(--white-2);
}
.release {
  background-color: transparent;
  color: var(--blue-2);
}
.background_box {
  background-color: var(--white-1);
  border-radius: 20px 0px 0px 20px;
  height: 250px;
  width: 150px;
  position: absolute;
  top: 0;
  right: 0;
}
.background_box2 {
  background-color: var(--white-1);
  border-radius: 0px 20px 20px 0px;
  height: 250px;
  width: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.ad {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1110px;
  margin: 30px auto;
}
.ad_img {
  display: flex;
}
.ad1 {
  height: 480px;
  width: 255px;
}
.ad2 {
  height: 480px;
  width: 445px;
  padding: 0px 30px;
}
.ad_text {
  max-width: 250px;
}
.ad_text span {
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--blue-1);
  text-transform: uppercase;
}
.ad_text p {
  padding-top: 20px;
  font-size: 1.6rem;
  color: var(--blue-2);
  line-height: 26px;
}
.categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1110px;
  margin: 150px auto 0px auto;
  flex-wrap: wrap;
}
.cat_box {
  max-width: 250px;
}
.cat_img img {
  width: 65px;
}
.cat_title {
  margin-top: 48px;
}
.cat_title span {
  font-size: 2.4rem;
  color: var(--blue-1);
  font-weight: bold;
}
.cat_desc {
  margin-top: 25px;
}
.cat_desc p {
  font-size: 1.6rem;
  color: var(--blue-2);
  line-height: 26px;
}
footer {
  margin-top: 100px;
}
footer p {
  color: var(--blue-2);
  font-size: 1.6rem;
  text-align: center;
  padding: 10px 0px;
}
footer p span {
  font-weight: bold;
}
/* responsive */
@media screen and (max-width: 1420px) {
  .background_box,
  .background_box2 {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  header,
  main {
    width: 90%;
    margin: 0 auto;
  }
  .ad {
    flex-direction: column;
  }
  .ad_img {
    width: 100% !important;
    justify-content: space-between;
  }
  .ad_text {
    display: flex;
    width: 100%;
    max-width: none;
    margin-top: 20px;
  }
  .ad1 {
    width: 215px;
    height: 320px;
  }
  .ad2 {
    width: 445px;
    height: 320px;
    object-fit: fill;
    padding: 0 !important;
  }
  .hero {
    margin-top: 40px;
  }

  .hero_img img {
    height: 420px;
    width: 470px;
  }
  .hero_text {
    min-width: 400px;
  }
  .hero_text h1 {
    font-size: 4.8rem;
  }
  .hero_text p {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 375px) {
  .hero {
    flex-direction: column;
  }
  .hero_img {
    margin-top: 20px;
    width: 100%;
  }
  .hero_img img {
    width: 370px;
    height: 330px;
  }
  .ad_img {
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
  }
  .ad1 {
    width: 130px;
    height: 193px;
  }
  .ad2 {
    width: 220px;
    height: 193px;
  }
  .ad_text {
    flex-direction: column;
    text-align: center;
  }
  .categories {
    justify-content: center;
  }
  .cat_box {
    text-align: center;
  }
  .hero_text {
    min-width: 325px;
  }
  .hero_text_buttons {
    width: 100%;
  }
  .hero_text_buttons button {
    padding: 16px 10px;
  }
}
